*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}

#hero{
    height: 100%;
    width: 100%;
    background-color: black;
    background-image: url(https://w0.peakpx.com/wallpaper/370/65/HD-wallpaper-rr-car-gran.jpg);
    background-size: cover;
    background-size: contain; 
    background-position: center;
    color: white;
    text-align: center;
    font-size: 40px;
    padding-top: 10px;

}
button{
    font-size: 20px;
    padding: 20px 30px;
    background-color: aqua;
    border-radius: 20px;
}
