*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html , body{
    width: 100%;
    height: 100%;
}
.main{
    height: 100%;
    width: 100%;
    background-color: rgb(230, 230, 230);
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 70px 500px 300px 300px 400px;
    grid-template-areas: "header header header header"
                         "section section section section"
                         "earphone watch  laptop laptop"
                         "game game mobile speaker"
                         "footer footer footer footer"

    
}
.main .header{
    background-color: aliceblue;
    grid-area: header;
    margin: 5px;
    padding-left: 110px;
    padding-top: 18px;
    word-spacing: 35px;
}
.main .section{
    background-color: rgb(174, 168, 168);
    grid-area: section;
    margin: 5px;
}
.main .section img{
    object-fit: cover;
    padding-left: 50%;;
    height: 489px;
    border-radius: 7px;
}
.main .section h1{
    position: absolute;
    top: 240px;
    left: 35px;
    font-size: 80px;
    font-family: Arial, Helvetica, sans-serif;
}
.main .section h4{
    position: absolute;
    top: 330px;
    left: 190px;
    font-size: 30px;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(182, 21, 21);
}
.main .section button{
    position: absolute;
    top: 410px;
    left: 190px;
    width: 150px;
    height: 50px;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: black;
    color: white;
    border: none;
    border-radius: 7PX;
    cursor: pointer;
}
.main .section button:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}


.main .earphone{
    background-color: rgb(214, 201, 201);
    grid-area: earphone;
    margin: 5px;
}
.main .earphone img{
    width: 350px;
    height: 290px;
    object-fit: cover;
}
.main .earphone h3{
    position: absolute;
    bottom: 40px;
    left: 20px;
    font-size: 30px;
    font-weight: bold;
    font-size: 400;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(233, 230, 230);
}
.main .earphone button{
    position: absolute;
    bottom: -180px;
    left: 220px;
    width: 105px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(222, 0, 0);
    color: white;
    border: none;
    border-radius: 40PX;
    cursor: pointer;
}
.main .earphone button:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}


.main .watch{
    background-color: yellow;
    grid-area: watch;
    margin: 5px;
}
.main .watch img{
    width: 350px;
    height: 290px;
    object-fit: cover;
}
.main .watch h3{
    position: absolute;
    bottom: -130px;
    left: 370px;
    font-size: 30px;
    font-weight: bold;
    font-size: 350;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
.main .watch button{
    position: absolute;
    bottom: -180px;
    left: 570px;
    width: 105px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(222, 0, 0);
    color: white;
    border: none;
    border-radius: 40PX;
    cursor: pointer;
}
.main .watch button:hover{
    background-color: transparent;
    color: black;
    border: 1px solid black;
}


.main .laptop{
    background-color: red;
    grid-area: laptop;
    margin: 5px;
}
.main .laptop img{
    width: 630px;
    height: 290px;
    object-fit: cover;
}
.main .laptop h3{
    position: absolute;
    bottom: -130px;
    left: 750px;
    font-size: 30px;
    font-weight: bold;
    font-size: 350;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
}
.main .laptop button{
    position: absolute;
    bottom: -170px;
    left: 1220px;
    width: 105px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 7, 7);
    color: white;
    border: none;
    border-radius: 40PX;
    cursor: pointer;
}
.main .laptop button:hover{
    background-color: red;
    color: white;
}


.main .game{
    background-color: rgb(193, 185, 185);
    grid-area: game;
    margin: 5px;
}
.main .game img{
    width: 100%;
    height: 290px;
    object-fit: cover;
}
.main .game button{
    position: absolute;
    bottom: -459px;
    left: 90px;
    width: 105px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 7, 7);
    color: white;
    border: none;
    border-radius: 40PX;
    cursor: pointer;
}
.main .game button:hover{
    background-color: rgb(10, 10, 19);
    color: white;
}


.main .mobile{
    background-color: green;
    grid-area: mobile;
    margin: 5px;
}
.main .mobile img{
    width: 100%;
    height: 290px;
    object-fit: cover;
}
.main .mobile button{
    position: absolute;
    bottom: -485px;
    left: 750px;
    width: 105px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 7, 7);
    color: white;
    border: none;
    border-radius: 40PX;
    cursor: pointer;
}
.main .mobile button:hover{
    background-color: rgb(1, 1, 5);
    color: white;
}


.main .speaker{
    background-color: rgb(2, 2, 14);
    grid-area: speaker;
    margin: 5px;
}
.main .speaker img{
    width: 100%;
    height: 290px;
    object-fit: cover;
}
.main .speaker button{
    position: absolute;
    bottom: -300px;
    left: 1230px;
    width: 105px;
    height: 40px;
    font-size: 25px;
    font-weight: 600;
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 7, 7);
    color: white;
    border: none;
    border-radius: 40PX;
    cursor: pointer;
}
.main .speaker button:hover{
    background-color: rgb(6, 6, 11);
    color: white;
}   
.main .footer{
    background-color: rgb(243, 14, 14);
    grid-area: footer;
    margin: 5px;
}
.footer p{
    position: absolute;
    color: white;
    font-size: 50px;
    font-weight: 200;
    font-family: Arial, Helvetica, sans-serif;
    left: 60px;
    margin-top: 140px;
}
.footer h6{
    position: absolute;
    color: rgb(18, 13, 13);
    font-size: 21px;
    font-weight: 6000;
    font-family: Arial, Helvetica, sans-serif;
    left: 900px;
    margin-top: 150px;
}