*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html body{
    height: 100%;
    width: 100%;
}
#main{
    background-color: rgb(191, 203, 213);
    height: 100%;
    width: 100%;
}
#top{
    width: 100%;
    height: 150px;
    background-color: rgb(1, 15, 56);
    text-align: center;
    padding: 30px;
    font-size: 20px;
    font-weight: 300;
    color: white;
}
#top h6{padding: 5px;
}
#aboutme{
    height: 110px;
    width: 850px;
    background-color: whitesmoke;
    margin-left: 200px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
}
#aboutme h2{
   padding: 10px;
}
#education{
    height: 160px;
    width: 890px;
    background-color: rgb(186, 238, 255);
    margin-left: 185px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    
}
#education h2{
    padding: 10px;
}
#education  P{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 10px;
    text-align: center;
    border-radius: 5px;
    padding: 5px;
    font-size: 15px;
    
}
#education  h6{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}
#skills{
    height: 300px;
    width: 890px;
    background-color: rgba(233, 233, 28, 0.491);
    margin-left: 185px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    
}
#skills h2{
    padding: 10px;
}
#skills #p1{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}
#skills #p2{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}
#skills #p3{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}
#skills #p4{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}
#projects{
    height: 230px;
    width: 890px;
    background-color: rgba(205, 42, 205, 0.201);
    margin-left: 185px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
}
#projects h2{
    padding: 10px;
}
#projects #p1{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}
#projects #p2{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}
#projects #p3{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}

#contactme{
    height: 220px;
    width: 890px;
    background-color: rgba(74, 240, 74, 0.17);
    margin-left: 185px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;   
}
#contactme #p1{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}
#contactme #p2{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}
#contactme #p3{
    width: 600px;
    height: 40px;
    background-color: whitesmoke;
    margin-left: 175px;
    margin-top: 15px;
    text-align: center;
    border-radius: 5px;
    padding: 11px;
    font-size: 12px;
}
