*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
html,body{
    height: 100%;
    width: 100%;
}
#main{
    height: 100%;
    width: 100%;
    background-color:rgb(139, 219, 246);
    padding: 15px 15px;
}
.card{
    height: 400px;
    width: 350px;
    background-color: rgb(236, 237, 238);
    border-radius: 10px;
    box-shadow: 10px 15px 25px rgb(38, 37, 37);
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column ;
    padding: 20px;
    justify-content: space-evenly;
}
.card img{
    height: 200px;
    width: 200px;
    border-radius: 50%;
    object-fit: cover;
}
.card h1{
    font-size: 25px;
}
.card p{
    font-size: 15px;
    font-weight: 600;
    text-align: center;
}
.card button{
    border-radius: 40px;
    padding: 12px 18px;
    background-color: rgb(95, 130, 237);
    border: none;
    font-weight: 700;
    cursor: pointer;
}
.card button:hover{
    background-color:transparent;
    color:  rgb(95, 130, 237);
}