h1{
    color: red;
    background-color: black;
}
p{
    color: lightpink;
    background-color: brown;
    text-align: center;
}
.sumit{
    height: 1000px;
    width: 1000px;
    background-color: black;
}